.mainbutnd{
      border: solid 5px white;
      border-radius: 22px;
      color: white;
      padding: 4px;
      background-color: rgb(33,153,27,20);
  }

.hideid{
  display: none;
}

.closebuttondi {
  padding: 9px;
  color: #ffc107;
  font-stretch: ultra-condensed;
  font: icon;
  font-size: 33px;
  cursor: pointer;
  z-index: 11111111;
  text-align: right;
}




.range-slider__tooltip__label{
  color:white;
  font-weight: bold;
}

.btn-success {
  color: #fff!important;
  background-color: #c3c8c4!important;
  border-color: #444950!important;
  color: black!important;
  padding: 9px!important;
}

.btn{
  width:100%!important;
}

.carousel-indicators{
  position: relative;
}

.parentdiv{
  width: 100%;
    height: 100%;
    background-color:#0c5965;
    position: absolute;
    z-index: 1111;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousaldiv{
  z-index: 2222;
  background: rgba(255,255,255,0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;;
}

.mytextbox{
  height: 77px;
}


.carousel-caption {
  position: fixed;
    right: 0!important;
    bottom: 20px;
    left: 0!important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #343a40;
    text-align: center;
    border: 1px solid;
    background-color: #fff;
    width: 100%;
    text-align: left;
    border-bottom: solid 1px;
}


.myijcondiv{
  font-size: 11px;
    font-weight: bolder;
    border: solid 1px #ffc107;
    background-color: #17a2b8;
    border-radius: 11px;
    cursor: pointer;
    color: white;;
}

div{
  cursor: pointer;;
}


.mkyicondiv{
  font-size: 11px;
    font-weight: bolder;
    border: solid 1px #ffc10763;
    background-color: #6c757d;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 100%;
    padding-right: 13px;
    padding-left: 7px;
    text-align: center;
    font-stretch: extra-expanded;
}
.paragraphcss{
  
    font-size: 23px;
    COLOR: #004085;

}

.loadoer {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;

}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  background-color: #dae0e52b;
  /* border: solid 1px white; */
}


.loader {
  border: 16px solid #712323;
    border-top: 16px solid #3498db26;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    background-color: #097e90f2;
    z-index: 1111;
    left: 50%;
    position: absolute;
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: #ffc107;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    animation: spin .8s linear infinite;
  
}

.paragrap{
  color:white;
  font-size:14px;;
}

.paragraphcss:hover{
  

    background-color: #28a745;
    cursor: pointer;
    border-radius: 9px;
    color: #ffffff;
    padding: 2px;

  
  
 
  
 
}


.zerpadding{
  padding:0px!important;
}

.buttn{
  border: solid 5px #fdfdfd;
  /* padding-top: 11px; */
  padding: 7px;
  border-radius: 7px;
  background-color: #25ab25;
  color: white;
  font-weight: bold;
  margin-left: 7px;
}

.buttnemail{
  border: solid 5px #fdfdfd;
  padding: 7px;
  border-radius: 7px;
  background-color: #117a8b;
  color: white;
  font-weight: bold;
  margin-left: 7px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}


.App {
  text-align: center;
}
.divwithuppermargin{
  padding:11px!important;
}

.imageclassheader{
  width:100%;
}

@media screen and (max-width: 600px) {
  .hideonmobile {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.spanclasstext{
  
  font-feature-settings: "pcap", "c2pc";
  font-variant-caps: all-petite-caps;
  border-bottom: solid 1px #adb5bd;
  width: 100%;
  box-shadow: 1px 1px 5px 5px #dae0e5;
  border-radius: 3px;
  font-size: 33px;
}

.spanclasstext:hover{
  

    font-weight: 400;

    cursor: pointer;
    -webkit-user-select: none;
    
    border: solid 1px gray;
   
    border-radius: 3px;
    background: #44494f;
    color: #f8f9fa;
    padding-right: 7px;
    padding-left: 7px;
    box-shadow: 3px 3px 1px 1px #dae0e5;
  
}

.marginljeft{
  margin-left: 20px!important;
}

.tileimgesize{
  box-shadow: 0px 5px 3px #7f73736e!important;
  width: 130px!important;
}
.bcimage{
  background-image: url('./map.png');
}
.bcimagep{
  background-image: url('./map.png');
  border-radius: 11px;
}
.bcimage3{
  background-image: url('./parti.gif');
}


.mainbodyball1{
  width: 37px;
    background-color: #785b03;
    border-radius: 60%;
    height: 34px;
    padding: 4px;
}

.imgclss{
  width: 30px;
}
.mainbodyball2{
  width: 37px;
    background-color: #026018;
    border-radius: 60%;
    height: 34px;
    padding: 4px;
}
.mainbodyball3{
  width: 37px;
    background-color: #129EAF;
    border-radius: 60%;
    height: 34px;
    padding: 4px;
}

.mainbodyball4{
  width: 37px;
    background-color: #aa0a19;
    border-radius: 60%;
    height: 34px;
    padding: 4px;
}

.mainbodyball5{
  width: 37px;
    background-color: #026018;
    border-radius: 60%;
    height: 34px;
    padding: 4px;
}
.offerinternaldivpadding{
  padding-top: 33px;
}


.offerdivinner{
  padding-top: 11px;
    border: solid 3px #ffc107;
    border-radius: 11px;
    background-color: #007bff;
    color: white;
    font-weight: 500;
    height: 140px;
    width: 120px;
    background-color: #117a8b;
    border-radius: 50%;
    padding: 11px;
    margin: 11px;
}

.offersdiv{
  padding-top: 11px; 
    border: solid 3px #ffc107;
    border-radius: 11px;
    background-color: #007bff;
    color: white;
    
    font-weight: 500;
    height: 60px;
    width: 70px;
    background-color: #117a8b;
    border-radius: 50%;
    
    padding-top: 11px;
}


.zeeomargin{
  margin:0px!important;
  background-color: #8080802e;

}

.mytextbosauto{
  width:500px;
}


.homeicon{
  width: 50%!important;
    height: 140px;

}

a:hover{
  cursor: pointer;
  text-decoration: none;;
}
.mybuttons{
  color: #fff!important;
    background-color: #444950!important;
    border-color: #ffffff!important;
    font-size: large!important;
    box-shadow: 0px 5px 3px #7f73736e!important;
}

.bottomborder{
  border-bottom: solid 1px #16748426;
}


.bottombordr{
  box-shadow: 1px 3px 3px 5px #7f73736e;
}

.whitecolorcss{

  color: white;
  cursor: pointer;
}


.whitecolorcss:hover{
  color: #117a8bd9;
  cursor: pointer;
}

.inside {
  width: 25%;
  float:left;
  border-right: 5px solid grey;
  background-color: blue;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
 }
.ratingdiv{
  padding-top: 13px;
    background-color: #8080802e;
    width: 100%;
    position: absolute;
}


.searchRow{
  display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 15px;
    padding:3px;
}

.headerrow{
  padding: 0px!important;
  font-size: 23px;
  width: 300px;
}

.mansearch{
  padding: 11px;
}

.dontshow{
  display: none;
}

.headermaindiv{
  background-color: #2f3a4a;
    display: block;
   padding:0px!important;
    
    text-align: center;
   
    width: 100%;
    z-index: 200
}
.Navbar {
  background-color: #adb5bd!important;
}

.bg-light {
  background-color: #adb5bd!important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 11px!important;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bordershadow{
  box-shadow: 1px 3px 7px 1px #adb5bd;
    border-radius: 11px;
    z-index: 11px;
    z-index: 111;
}

.carousel-item {
 
 display: block;
 
}